* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header{
  text-align: center;
  font-weight: 500;
  line-height: 100%;
  width: 100%;
  max-width: 450px;
}

header > h1{
    color: #F9F4DA;
    font-size: 20px;
    height: 26px;
    font-weight: 500;
}
header > p{
   color: #8E8E8E;
   font-size: 14px;
   height: 36px;
   max-width: 450px;
}

.status{
    width: 100%;
    height: 59px;
    max-width: 450px;
    background-color: #10A95B;
    margin-top: 20px;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.status > p{
    font-weight: 500;
    line-height: 100%;
    color: #F9F4DA;
}

.win{
    margin: auto;
    font-size: 20px;
}
.winmsg{
    font-size: 16px;
    margin: 10px;

}

section.chips{
    width: 100%;
    height: 51.5px;
    display: flex;
    justify-content: center;
    max-width: 450px;
    align-items: center;
    gap: 5px;
    margin-top: 36px;
    flex-wrap: wrap;
}

span.language-chip{
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 4.5px;
    gap: 4.5px;
    font-weight: 700;
    position: relative;
}

section.words{
    width: 100%;
    height: 40px;
    gap: 2px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

span.letters{
    height: 40px;
    width: 40px;
    border-bottom: solid 1px #F9F4DA;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#323232;
}

section.keyboard{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    width: 100%;
    height: 164px;
    flex-wrap: wrap;
    max-width: 450px;
    padding: 6px;
    gap: 6px;
}

button{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: solid 1px #D7D7D7;
    background-color: #FCBA29;
    padding: 6px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    cursor: pointer;
}

button.correct{
background-color: #10A95B;
}

button.wrong{
    background-color: #EC5D49;
}
button.newgame{
    width: 228px;
    max-width: 450px;
    height: 40px;
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
    gap: 6px;
    border: 1px solid #D7D7D7;
    background-color: #11B5E5;
    cursor: pointer;
    margin-top: 36px;
    margin-left: 107px;
}

span.language-chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    
}